jwt:
  secret: minha-chave-super-secreta-com-no-minimo-64-bytes-para-hs512-2025
  access-expiration: 30000  # 15 segundos (15 * 1000)
  refresh-expiration: 30000  # 30 segundos em milissegundos
  
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
