<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/auth-api.json</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/auth-api-%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"auth-api"}</customFields>
        </encoder>

        <pattern>
            %d{yyyy-MM-dd HH:mm:ss} [%X{traceId}] %-5level %logger - %msg%n
        </pattern>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>

</configuration>
